@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #d21617;
}

#logo {
    width: 150px;
    height: 90px;
}

#banner {
    background-image: url('https://pbs.twimg.com/media/FBwJWeQXIAItfyH.jpg:large');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
    width: 50%;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color: #fff;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 70%;
}

.button {
    width: 200px;
    height: 60px;
    background-color: #d21617;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}


.card:hover {
    transform: scale(1.02);
}

.banner-1 {
    background-image: url('https://observatoriodocinema.uol.com.br/wp-content/uploads/2022/03/bruce-1.jpg');
}

.banner-2 {
    background-image: url('https://midias.correiobraziliense.com.br/_midias/jpg/2022/02/18/675x450/1_batman_zoe_kravitz_mulher_gato-7471457.jpg?20220218182245?20220218182245');
}

.banner-3 {
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISERUSEBIPDxAPEhUPEA8PDw8PDw8PFREWFhUVFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQ0OFQ8PFSsZFR0rLSstKystLi0rKysrLS0tLS0tLS0tKysrLS0rKy0rNystKys4Nys3KzcrKy0tKzcrLf/AABEIAQ8AugMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAABAgADBQQGB//EAD4QAAIBAgMFBQUGBAUFAAAAAAABAgMRBCExBRJBUXEGE2GBkSIyobHBQlJictHwI4Ki4XOSssLxFSQzQ1P/xAAYAQEBAQEBAAAAAAAAAAAAAAABAAIDBP/EAB8RAQEAAgICAwEAAAAAAAAAAAABAhEDMUFREyFxYf/aAAwDAQACEQMRAD8A+IoLYrIQFMKYEGBJEwsW4xFbAdMSI6AJcNwBaJJAaQsWG9ySWCohbHX79CJYpoKuByCiQpBUQKQVIgKiMkKmRXILI6ll80UpPmPueLBHnwJdCuCJuIixWGwGQ0hQYgQYkgGFsMRWRHQkR4sAIWgXI2SQKz0Ei36mns6ja0nq9At1GpNrMNseUl7TSetiVtnSibOEqZmtHDqSs1qcPlu3onFNPByptc+oIrz5nscTsBNZfvyscS2HZ5+vM38sYvFXmxkzbx2zIuNoq0ksmeftZ2eqdn1N45TJzywuK25FICQUaYFTLVPqVxLIgEk3yJmGRLkmJInAjJwNNCh4CIeEiBGMxWxrklkSyJXEdIEYE9CWFqLIkNB5m5SV0rcF0MChLNX0vn0NzB4qEV97pmY5NumGnbhm78PibuHqNJbyt4rQ89Sx1JvNSpPg3nFm9s/ExeTcWmrpp3TPPlL5enDKeGkq7tk0/wCaxz16ytoNCpTeqtnbRHNi6sdI5rwWpltnYmqruxgbZoWqXWsopvroblVPW1uuphbUq709dFY7cXbhy9OYiTJvEUju8xkh1DqVqZbGXgARxDuIDb5Eu+SJMZktkBh4GiMQxFQ0CQDCDElsR4iRHiwQsi6X8AtjUnnbnkRhqFFNN2108EP3Mk/ZtlZ+GfG3kTDO3qatKCyatdKzT4r939TFy06THbhoubi3LcdsrNJSa8Gh6NdRV473eXVllutN2s/HxNTegvevHpFyf9LZZs7DKpXhJK0I+5F6ylxk1w8EZuXtr47bNVwVNp1M4tOLWTzT18QYbE1ptRhVV9FG8U/Vs2NrYJSxEr5b8LLxlB5+dpL0MpbLUL21eWd7x8UEuOulnM+tuipi5xvTre94rdkv16mFWleb5J2v0OqdKUWrTcs8m83G2uv7zOapTto8m35WZvGSdOeVy19gFIUKXibczXLIFJZTh1BLZAuBwQNxEmK2EjJwNNJFjRYsQxZAAtguM2RWRLICRHiAMwweaFsKyTopZtmtsp31Meg7M78HW3c9NTnlHXC6+2zjl7DaWSt7P3s89OBRg9vbk05U4xcdN227kZ1TG3dt92toskrriUwpRs3llZdV4+gTj9tXlvhu4nHU6+jmpp76tfhq7rTJsbEKaV3JyT4tRf0v8TJ2Tj+6eiatZ6byTNTE1/ZyeVrozcbLrw3MplN3tnVaiV3xtxySXgjLcjoxU8nzZyo64vPlTJhuKhkaYS5bSl4FaLaII0m+QLvkPJguRYbDbIDDwNFEhooWKDFEAaGYlhmiK6I0RIaDxYAZSsV7+avpfPoO0JOI6TtxVPSS8w05Xjbm9eIMDU3ouLzt8hWnF24cGFaldNChDK+fVHe8BTay9no5L65nDQpKWjt4nVDCv7NS/gc7f664/jixuDcHdXavr/wdM6lor98f0FrSaTTv9CqdGTpup9lNLxtxa9UPbFunNWndiIgbm3MUFIVMZEERbSiVJ+BbSYFY4A3ERyfIl3yJVi3DwIHgaQJhiyRJEkW44YU79C9RS0HS2EYZZjJEsS9tf7DoDYDQ5N0htRSm4yT5cOaN6GGjVj1V0zDqxNTYlfJx4w9qPjHiv3zM1pTXoTovVuL0ay9RViWemdFVI6b0ZLNcTz+P2dKlLi4S912+D8TLUqjecnnmvgbGBW9CS1jGnUcuV7OK/fgZcVZfLnc9ZsrZjp0Wpe9UvKfhde6EWTxMWMUUnbItRvTBkECQVEyhRbSKS2lEitZBd0m6CY1iWATgbJooenDixIFsWQWIKFTGgzQMkBxGQGxGy009OWjHuREJJKNwYOtuTUuCftLnHiOVVI5mao9jh70pLjCWcXwcWTbG2aMpuirRhGN6kpK6lU13FytfXn8Z2arRrYd05pSlRtCK+1uvOLXjk49EYvaLZ3dy3knaWe9+K+afjoZJKuOpU3einUnrGdRPdp9I8Wubv0NnY3aScrU8RG+8rQrRSi88lvR4rxXoeSjDesl7zaiurdke8/6dCE6bS9192r8WrfRMtaNvt4jHYZ0qk4PWEmuqeafo0Ij0fbbB2nCqtJru5fmWcfg3/lPNxNQGTHTyKyXKxLEyylI5oyeY1KTMl1bz5A3nyKYzdxXNgWeFPIDGiaQoaLAGAg758AwefX5kQslazEL0yNCxZL5iBixhePUKIGRJLICY1wTu7O4rusRBt2jJ7kny3sk/W3lc9l2jwqlSldar+paM+eNHuo4t18Bv3vOMXCf+JHJvzVn5ma08Lhp7slJ5KMozfF2Uk2fUMRTTaT4e2rZZ7y/ufLms10PouwK6q0ozu29xU53+/HJ/r5hRU7RYPvaE4rOUVvw/NH2kvNXXmfOoP4n1eWvl/Y+a7awvdV5w4KW9H8ks187eQxRyCSHYsjRDeyDS1Kx6bM0w6YtwpgYFxDRQo0RBmGBA09RRk+DC1lYk4gi75CEgyyRRezL07okjHK0wx06EDoYS4RAyN7sri8q1B6VYOpBfjgryS8XC7/kMF6D4LFSpVIVI+9Skppc7PNdGrrzM1qBUhZtcm18TZ7LbR7qsot/w61oPkp/Zfq7efgc+3cOoVnuZ06ijWpPnSmrx/TyM5oE+qTWa816nkO3OEzp1ed6UvnH/AHHodkY3vqEJ/at7X54u0viviJ2jwne4epFapb8fzRzXyCB84i8gSJB59cwm4VI8BJ6jQCmHAQBkuS40RBoiKcMHmAkNRC5SFazDIjFK6qLKOglUNFkliBx6/MjBPnyzJLbBQtxkxZFMWw1xZBTGzN97goy1ng6ndS59xUd4PopXXmZKZq9lJp1pUZ/+PF05UZfmteL8s/Uy61KUJOEvehJwl+ZOz+RkvT9iMZaU6LfvfxY9cozX+l+TPWPT4HzDA4p0qkKi+xJNrnHSS802fUqLTjdZp2kn+FpNBRXyzamG7qvOHCE3b8rzj8Gihm/25w+7XjNf+yGfWLt8mvQwE8jUKqoGBKoIlTDXJcgDJc26RFxXLUYBAREYhdIQdaCIUFQNFgqAosCukQkiJiEpvK3IdIqWT6juRA5JC3I9GS0ejWcJRmtYSU11i7/Q3e19Fd+qsfdxNONVeMrWl8N31PPRd0eixsu82fQnxoVJUH4RzS+UDJYNj6F2Oxe/hoxyvC9J5/dzj/TJeh8/PR9isR7VWk/tRVRdYvdl8JL0JV1dvaV4U5W92bi+ko3/ANp42me67VXeGnF5uLjKL8FNX+Fzwi16lAlUSJZU0Eg8xpgkH3kS6MlxXCmKFCToIqGaFk9JkkLAeQpXUBT1JUBTYF0ihQrEJNfAe1wAh8iRkEILElMcnY9Fsl7+BxVPjTcK6+v+j4nnq0Tc7Iz3p1Yf/XDzj/MrW+bCpmnVsjGdzXp1H7qlafLcllK/S9/I5ZxcW4vWLaFkgT6Ftygp0Jrik4/p9D5u3oz3ewsZ32Gaec4R7uXNuK9l+cbejPEYqG7KUfuya+JRBPQpTLeBSaqWoJV3hO8MFQFEIhJkOIh0hZRMdoWwyYpVUFiSoyRYF0xBIkGRmgiBx6kDPmCMkG5WNFki1dDt7M1tzE0+G9vQ/wA0JJfFo5KiyBhJbtSD+7OL9JIKW52oo7mJbSsqsVUXK71Mlnp+19G9OlU+6t19Gjy7CJrdmsZ3da18qq3P5ldx+q/mODa9LdqyXN35lMZtNNZNNST5NO6O3tBNSnGa0nFSXRpNfvwJMyGhWx4iMQLQu6PchkqCIeCFlqJFDorQ8WLJkHMW75MeMxSioswRHraiIy06IBkLAZmmQGQgyJJF5aBsgRC0SF6FcFmuq+Y6JgY3qQjrepFf1oKXudvU97Cv8J4m59Bx6/7aafJs+eL5AIY7cfnhqMuK3qb6KcrfM4joqTvhnH7tXLo0vrci4E8wC3GYoSEuS5kqbslyAFHQbCxGFlZBhcitMscbilNXURFs4u3QqM0xfAdlcBzUAMMQERIZa/AKuCehLciR7nTsWnfEU1+O/om/ocaZqdmoXxMfwxnL+m31Kp6nak/4bS5fQ8NNWb6nrtpVHK8Y62seYx9Ldml+Fet2ZMUXJKfsSXNxfo3+oBKryfkSUMcrY60FHICA1jJUMhCIQKHSv4CIawodxjxT6ihEJWWRQdLicwUxbAsKabLkMQMiIwEDix/sEC1JC7G12Wj/ABZy+7Sa83JfozFNPYmMdNzSin3m7Fttqyu/XUqnqcHTSpuctZO/lwPI7Xn7cfFS+Mjb2njtKVN+7aPFXejZ5rGT3n006L938zEIMprPIsjK5VXYpWhkIh0SqyA5Ssg94Sf/2Q==');
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px){
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 40%;
    }

    #trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description {
        width: 100%;
    }

    .button {
        width: 100%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}
